<div class="container">
  
  <div class="geolocation-feedback" *ngIf="user_message" [innerHTML]="user_message"></div>
  <form #searchForm="ngForm" (ngSubmit)="searchForm.valid && findPlacesNearBy({name:criteria.value})" autocomplete="off" novalidate>
  <p>Find places in the City of your preference or simply allow us to get places around your current location <i class="fa fa-location-arrow" aria-hidden="true"></i></p>    
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input type="text" name="criteria" ngModel #criteria class="form-control" placeholder="place, city, town..." aria-describedby="basic-addon1" required>
    <div class="input-group-addon"><a href="#" (click)="findMyLocation()"><i class="fa fa-location-arrow" aria-hidden="true"></i></a></div>
  </div>
    <button type="submit" class="btn btn-primary" >Find Places</button>
  </form>

  <div *ngIf="currentLocation.latitude!==0 && currentLocation.longitude!==0" class="location-box">
    <div><img [src]="staticMap"></div>
  </div>
 
  <div class="places-box">
    <div class="place-item" *ngFor="let item of places">
      <h3>{{ item.name }}</h3>
      <div class="place-item-info">
        <strong>Address: </strong><br />
        <div *ngFor="let item of item.location.formattedAddress">
          {{ item }}<br />
        </div>
        <p *ngIf="item.contact.formattedPhone"><strong>Contact No: </strong>{{ item.contact.formattedPhone }}</p>
      </div>
        <span *ngIf="item.location.lng"><button type="button" class="btn btn-primary" (click)="showChildModal(item.name,item.location.lat,item.location.lng)">Map</button></span>
        <span *ngIf="item.url"><a [href]="item.url" target="_blank" class="btn btn-primary">Website</a></span>
        <span *ngIf="item.contact.twitter"><a [href]="twitter_url" class="btn btn-primary" target="_blank" (click)="followOnTwitter(item.contact.twitter)"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></span>
    </div>
  </div>
</div>

<div bsModal #mapContainer="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ selectedVenue.name }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div><img [src]="selectedVenue.map"  height="400" width="250"></div>
      </div>
    </div>
  </div>
</div>