<div class="container">
  <div class="location-box">  
    <h2>Current Location</h2>
    <div *ngIf="currentLocation.latitude!==0 && currentLocation.longitude!==0">
      <p>Latitude: {{ currentLocation.latitude }}</p>
      <p>Longitude: {{ currentLocation.longitude }}</p>  
      <button type="button" class="btn btn-primary" (click)="findPlacesNearBy(currentLocation.longitude,currentLocation.latitude)">Find Places</button>
      <div><img [src]="staticMap"  height="300" width="600"></div>
    </div>
  </div>

  <div class="places-box">
    <div class="place-item" *ngFor="let item of places">
      <h3>{{ item.name }}</h3>
      <div class="place-item-info">
        <strong>Location: </strong><br />
        <div *ngFor="let item of item.location.formattedAddress">
          {{ item }}<br />
        </div>
        <p><strong>Contact: </strong>{{ item.contact.formattedPhone }}</p>
      </div>
    </div>
  </div>
</div>