.places-box, .location-box{
    display:block;
    padding:10px;
    margin-bottom:10px;
    border:0px dotted blue;
}
.location-box div{
    margin-top:10px;
    font-family: 'Cabin', sans-serif;
}
.location-box h2{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}
.places-box > div {
    margin:10px;
}
.places-box .place-item{
    display:inline-block;
    padding:0px 10px 10px 10px;
    width:350px;
    max-height:400px;
    overflow-y:scroll;
    border: 0px solid red;
}
.place-item {
    background-color: #DB9900;
    border-radius: 4px;
}
.place-item h3 {
    font-family: 'Lobster', cursive;
    color: #0A5984;
    font-weight: 300;
    text-align: center;
}
.place-item > div {
    font-family: 'Cabin', sans-serif;
    border:1px solid #A0A0A0;
    background-color: #CAC8BD;
    padding: 2px 5px;
    color:#808080;
}
.place-item strong{
    color:#0A5984;
}